/* src/renderer/styles/main.css */
body {
    font-family: Arial, sans-serif;
    background: #f1f1f1;
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    font-size: 28px;
    background: white;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
